

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #222;

    @media screen and (min-width: 992px) {
      padding-bottom: 20px;
    }
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.container .text-muted {
    margin: 20px 0;
}

.text-muted {
    color: #777;
}
