<div class="container">
  <p class="text-muted">
    <span class='col-md-8'>
      <a href="https://github.com/spartanPAGE/ruby-snake">
        ruby-snake source
      </a>
    </span>
    <span class='col-md-4'>
      &copy;2016&nbsp;Patryk&nbsp;Wertka
    </span>
  </p>
</div>
