<div class="container">
  <p class="text-muted">
    <span class='col-md-8'>
      <a href="https://github.com/spartanPAGE/ruby-snake">
        ruby-snake source code
      </a>
    </span>
    <span class='col-md-4'>&copy; 2016 Patryk Wertka</span>
  </p>
</div>
